# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# This formula works with no-pillars but here are some example configurations.
## see https://rstudio.com/products/rstudio/download for checksums

rstudio:
  server:
    version: 1.2.5042
    environ:
      - dummy=dummy
  desktop:
    version: 1.2.5042
    environ:
      - dummy=dummy
