# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# This formula works with no-pillars but here are some example configurations.

rstudio:
  server:
    version: 1.2.5033
    environ:
      - dummy=dummy
    pkg:
      directurl:
        uri: https://download1.rstudio.org/server
        source_hash: None
  desktop:
    version: 1.2.5033
    environ:
      - dummy=dummy
    use_upstream_archive: true
    use_upstream_package_directurl: false
    pkg:
      archive:
        uri: https://download1.rstudio.org/desktop
        source_hash: None
      directurl:
        uri: https://download1.rstudio.org/desktop
        keyserver: keys.gnupg.net
        keyid: 3F32EE77E331692F
