# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{%- set tplroot = tpldir.split('/')[0] %}
{#- Start imports as #}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}
{%- import_yaml tplroot ~ "/osfamilymap.yaml" as osfamilymap %}
{%- import_yaml tplroot ~ "/oscodenamemap.yaml" as oscodenamemap %}

{%- set _config = salt['config.get'](tplroot, default={}) %}

{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
      merge=salt['grains.filter_by']( osfamilymap, grain='os_family',
        merge=salt['grains.filter_by']( oscodenamemap, grain='oscodename',
          merge=salt['grains.filter_by']( _config, default='lookup'
          )
        )
      )
    )
 %}

{%- set rstudio = salt['grains.filter_by']( {'defaults': defaults}, default='defaults', merge=_config) %}

{%- for comp in ('desktop', 'server') %}
    {%- if rstudio[comp]['pkg']['use_upstream_archive'] %}
           {%- set dir = '%s-%s'|format(rstudio[comp].pkg.name, rstudio[comp]['version']) %}
           {%- set url = '%s/%s/%s/%s-%s-%s'|format(rstudio[comp]['pkg']['archive']['uri'],
                                                            comp,
                                                    rstudio[comp]['pkg']['archive']['uri_part'],
                                                    rstudio[comp]['pkg']['name'],
                                                    rstudio[comp]['version'],
                                                    rstudio[comp]['pkg']['archive']['suffix']) %}
           {%- do rstudio.config.update({'path': rstudio.dir.archive + '/' + dir }) %},
           {%- do rstudio[comp]['pkg']['archive'].update({ 'name': rstudio.dir.archive + '/' + dir,
                                                           'source': url }) %}
    {%- endif %}

    {%- if rstudio[comp]['pkg']['use_upstream_package_directurl'] %}
           {%- set url = '%s/%s/%s/%s-%s-%s'|format(rstudio[comp]['pkg']['archive']['uri'],
                                                            comp,
                                                    rstudio[comp]['pkg']['archive']['uri_part'],
                                                    rstudio[comp]['pkg']['name'],
                                                    rstudio[comp]['version'],
                                                    rstudio[comp]['pkg']['archive']['suffix']) %}
           {%- endif %}
           {%- do rstudio[comp]['pkg']['archive'].update({ 'source': url }) %}
    {%- endif %}
{%- endfor %}
